<f:translate key="template.password.mail-content"/><f:for each="{organizers}" as="data" iteration="iterator"><f:alias map="{organizer: '{data.organizer}'}">
{f:translate(key:'template.organizer.label-contact-data')}:
	{f:if(condition: '{organizer.title}', then: '{f:translate(key:\'template.organizer.label-organizer\')}:	{organizer.title}')}
	{f:if(condition: '{organizer.contactPerson}', then: '{f:translate(key:\'template.organizer.label-contactperson\')}:	{organizer.contactPerson}')}
	{f:if(condition: '{organizer.street}', then: '{f:translate(key:\'template.organizer.label-street\')}:	{organizer.street}')}
	{f:if(condition: '{organizer.zip}', then: '{f:translate(key:\'template.organizer.label-zip\')}:	{organizer.zip}')}
	{f:if(condition: '{organizer.city}', then: '{f:translate(key:\'template.organizer.label-city\')}:	{organizer.city}')}
	{f:if(condition: '{organizer.telephone}', then: '{f:translate(key:\'template.organizer.label-telephone\')}:	{organizer.telephone}')}
	{f:if(condition: '{organizer.email}', then: '{f:translate(key:\'template.organizer.label-email\')}:	{organizer.email}')}</f:alias>
{f:translate(key:'template.organizer.label-access-data')}:
	{f:if(condition: '{data.assignment.homepage}', then: '{f:translate(key:\'template.organizer.label-signed-to\')}:	{data.assignment.homepage}')}
	{f:translate(key:'template.organizer.label-type-registration')}: {f:translate(key:'template.organizer.label-type-registration.I.{data.access.typ}')}
	{f:translate(key:'template.organizer.label-username-alone')}: ###USERNAME{data.access.userId}###
	{f:translate(key:'template.organizer.label-password-alone')}: ###PASSWORD{data.access.userId}###
________________________________________________________</f:for>
<f:translate key="template.password.mail-binder"/>
