<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<f:if condition="{legalNorm.structure.subStructurNodes}">
		<f:for each="{legalNorm.structure.subStructurNodes}" as="script" iteration="iterator">
			<f:if condition="{iterator.isFirst}">
				<f:format.raw>
					<script type="text/javascript">
						$(document).ready(function () {
							$('#lg{script.id}Cont').collapse({
								show: true
							});
						});
					</script>
				</f:format.raw>
			</f:if>
		</f:for>
	</f:if>
	<div class="row">
		<div class="col-md-4">
			<f:render partial="Menu/TreeMenu" arguments="{treeMenu: '{treeMenu}'}"/>
		</div>
		<div class="col-md-8">
			<f:if condition="{legalNorm}">
				<f:then>
					<f:comment>Search by legal forms</f:comment>
					<f:if condition="{settings.searchSelection}">
						<div class="row">
							<div class="col-sm-12">
								<f:form action="list" arguments="{legislator: legalNorm.legislator.id}" method="POST" class="tx-nwsmunicipalstatutes-form">
									<f:comment>Full text search</f:comment>
									<div class="form-group">
										<label class="control-label col-form-label" for="tx-nwsmunicipalstatutes-searchText">
											<f:translate key="template.locallaw.search.search-label"/>
										</label>
										<div class="input-group">
											<f:form.textfield class="form-control" type="text" id="tx-nwsmunicipalstatutes-searchText"
															  name="search"
															  placeholder="{f:translate(key:'template.locallaw.search.search-placeholder')}"
															  value="{legalNorm.currentSearch}"/>
											<span class="input-group-btn">
								<f:form.button class="btn btn-default btn-secondary" name="searchButton" type="submit"
											   title="{f:translate(key:'template.locallaw.search.title-search')}">
									<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
								</f:form.button>
								<f:form.button class="btn btn-default btn-secondary tx-nwsmunicipalstatutes-clear"
											   disabled="{f:if(condition: '{legalNorm.search}', then: '', else: 'disabled')}"
											   name="clearButton" type="submit">
									<f:translate key="template.locallaw.search.search-clear"/>
								</f:form.button>
							</span>
										</div>
									</div>
								</f:form>
							</div>
						</div>
					</f:if>
					<h2>{legalNorm.name}</h2>
					<p>
						<f:translate key="template.locallaw.list.legal-norm-headline" arguments="{0:legalNorm.count}"/>
					</p>
					<f:if condition="{legalNorm.search}">
						<f:then>
							<f:comment>if search was selected</f:comment>
							<f:render partial="LocalLaw/FindLegalNorm" arguments="{legalNorm: '{legalNorm}'}"/>
						</f:then>
						<f:else>
							<f:comment>if standard selection</f:comment>
							<f:render partial="LocalLaw/SubStructurNodes" arguments="{legalNorm: '{legalNorm}'}"/>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<div class="alert alert-default" role="alert">
						<h3>
							<f:translate key="template.locallaw.list.warning-headline"/>
						</h3>
						<p>
							<f:translate key="template.locallaw.list.warning-text"/>
						</p>
					</div>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>