{namespace nws=Nwsnet\NwsMunicipalStatutes\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<f:if condition="{settings.headlineImage} || {settings.headlineText}">
		<div class="row">
			<div class="col-md-12 tx-nwsmunicipalstatutes-pdf-headline">
				<div>
					<div>
						<f:if condition="{settings.headlineImage}">
							<f:image image="{settings.headlineImage}" maxHeight="150"/>
						</f:if>
						<f:if condition="{settings.headlineText}">
							<h1>{settings.headlineText}</h1>
						</f:if>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</f:if>

	<h1>{legalNorm.longTitle}</h1>
	<div class="row">
		<div class="col-md-12">
			<p>
				<f:translate key="partials.locallaw.date.promulgation-date"/>
				<f:format.date format="%d.%m.%Y">{legalNorm.jurisPromulgationDate}</f:format.date>
				<f:translate key="partials.locallaw.date.amend-date"/>
				<f:format.date format="%d.%m.%Y">{legalNorm.jurisAmendDate}</f:format.date>
				<f:translate key="partials.locallaw.date.enactment-from"/>
				<f:format.date format="%d.%m.%Y">{legalNorm.jurisEnactmentFrom}</f:format.date>
				<f:if condition="{legalNorm.jurisEnactmentTo}">
					<f:translate key="partials.locallaw.date.enactment-to"/>
					<f:format.date format="%d.%m.%Y">{legalNorm.jurisEnactmentTo}</f:format.date>
				</f:if>
				<f:if condition="{legalNorm.jurisPublicationDate}">
					<f:translate key="partials.locallaw.date.publication-date"/>
					<f:format.date format="%d.%m.%Y">{legalNorm.jurisPublicationDate}</f:format.date>
				</f:if>
				<f:if condition="{legalNorm.jurisApprovalDate}">
					<f:translate key="partials.locallaw.date.approval-date"/>
					<f:format.date format="%d.%m.%Y">{legalNorm.jurisApprovalDate}</f:format.date>
				</f:if>
			</p>
		</div>
	</div>
	<f:if condition="{settings.enableContents}">
		<div class="row">
			<div class="col-md-12">
				<f:if condition="{legalNorm.parseContent.nav}">
					<div>
						<h2>
							<f:translate key="template.locallaw.pdf.nav-headline"/>
						</h2>
						<ul>
							<f:if condition="{legalNorm.parseContent.nav}">
								<f:alias map="{nav : legalNorm.parseContent.nav}">
									<f:for each="{nav}" as="navItems">
										<li>
											<a class="dropdown-item" href="#{navItems.section}">
												{navItems.name}
											</a>
										</li>
									</f:for>
								</f:alias>
								<f:if condition="{legalNorm.jurisAttachments}">
									<li>
										<a class="dropdown-item" href="#jurisAttachments">
											<f:translate key="template.locallaw.show.attachment-anchor-title"/>
										</a>
									</li>
								</f:if>
							</f:if>
						</ul>
					</div>
				</f:if>
			</div>
		</div>
	</f:if>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<f:if condition="{legalNorm.parseContent.elements}">
				<f:alias map="{elements : legalNorm.parseContent.elements}">
					<f:for each="{elements}" as="element">
						<div class="tx-nwsmunicipalstatutes-content">
							<f:if condition="{element.header}">
								<f:if condition="{element.content}">
									<f:then>
										<a name="{element.header.section}" id="{element.header.section}">&nbsp;</a>
										<h3>{element.header.headline}</h3>
									</f:then>
									<f:else>
										<a name="{element.header.section}" id="{element.header.section}">&nbsp;</a>
										<h2>{element.header.headline}</h2>
									</f:else>
								</f:if>

							</f:if>
							<f:if condition="{element.content}">
								<f:format.raw>{element.content}</f:format.raw>
							</f:if>
						</div>
					</f:for>
				</f:alias>
			</f:if>
		</div>
	</div>
	<f:if condition="{legalNorm.jurisAttachments}">
		<a name="jurisAttachments" id="jurisAttachments" class="anchor"></a>
		<h3>
			<f:translate key="template.locallaw.show.attachments-headline"/>
		</h3>
		<ul>
			<f:for each="{legalNorm.jurisAttachments}" as="attachments" iteration="iterator">
				<li class="tx-nwsmunicipalstatutes-attachment">
					<f:link.external uri="{attachments.url}" onclick="window.open(this.href,'');return false;">
						<i class="fas fa-file-pdf mr-2"></i>
						<f:translate key="template.locallaw.show.attachment-link-title"/>
						{iterator.cycle}
					</f:link.external>
				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>