{namespace nws=Nwsnet\NwsMunicipalStatutes\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<div class="row">
		<div id="tx-nwsmunicipalstatutes-organizer-add" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>
				<f:translate key="template.organizer.add.headline-organizer-registration"/>
			</h2>
			<p>
				<f:format.raw>
					<f:translate key="template.organizer.add.text-organizer-registration"/>
				</f:format.raw>
			</p>
			<f:render partial="FormErrors" arguments="{form: 'organizer',errors: '{errors}'}"/>
			<p>
				<f:format.raw>
					<f:translate key="template.organizer.text-mandatory-information"/>
				</f:format.raw>
			</p>
			<f:form class="tx-nwsmunicipalstatutes-organizer-form form-horizontal" object="{organizer}" name="organizer" action="add" method="POST">
				<fieldset>
					<legend>
						<f:translate key="template.organizer.add.legend-organizer"/>
					</legend>
					<div class="form-group form-row{f:if(condition: errors.organizer,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="organizer">
							<f:translate key="template.organizer.label-organizer"/>
							*</label>
						<div class="col-sm-9">
							<f:form.textfield id="organizer" name="organizer[organizer]" value="{organizer.organizer}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-organizer')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.organizer'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.contactPerson,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="contactPerson">
							<f:translate key="template.organizer.label-contactperson"/>
						</label>
						<div class="col-sm-9">
							<f:form.textfield id="contactPerson" name="organizer[contactPerson]" value="{organizer.contactPerson}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" placeholder="{f:translate(key:'template.organizer.placeholder-contactPerson')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.contactPerson'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.street,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="street">
							<f:translate key="template.organizer.label-street"/>
							*
						</label>
						<div class="col-sm-9">
							<f:form.textfield id="street" name="organizer[street]" value="{organizer.street}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-street')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.street'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.zip,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="zip">
							<f:translate key="template.organizer.label-zip"/>
							*</label>
						<div class="col-sm-9">
							<f:form.textfield id="zip" name="organizer[zip]" value="{organizer.zip}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-zip')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.zip'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.city,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="city">
							<f:translate key="template.organizer.label-city"/>
							*</label>
						<div class="col-sm-9">
							<f:if condition="{locationSelection}">
								<f:then>
									<nws:select class="form-control" id="city" name="organizer[city]" options="{locationSelection}"/>
								</f:then>
								<f:else>
									<f:form.textfield id="city" name="organizer[city]" value="{organizer.city}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-city')}"/>
								</f:else>
							</f:if>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.city'}"/>
							<f:form.hidden name="organizer[kgs]" value="{organizer.kgs}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.telephone,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="telephone">
							<f:translate key="template.organizer.label-telephone"/>
						</label>
						<div class="col-sm-9">
							<f:form.textfield id="telephone" name="organizer[telephone]" value="{organizer.telephone}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" placeholder="{f:translate(key:'template.organizer.placeholder-telephone')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.telephone'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.fax,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="fax">
							<f:translate key="template.organizer.label-fax"/>
						</label>
						<div class="col-sm-9">
							<f:form.textfield id="fax" name="organizer[fax]" value="{organizer.fax}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" placeholder="{f:translate(key:'template.organizer.placeholder-fax')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.fax'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.email,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="email">
							<f:translate key="template.organizer.label-email"/>
							*</label>
						<div class="col-sm-9">
							<f:form.textfield id="email" name="organizer[email]" value="{organizer.email}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-email')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.email'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.homepage,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label text-sm-right col-sm-3" for="homepage">
							<f:translate key="template.organizer.label-homepage"/>
						</label>
						<div class="col-sm-9">
							<f:form.textfield id="homepage" name="organizer[homepage]" value="{organizer.homepage}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" placeholder="{f:translate(key:'template.organizer.placeholder-homepage')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.homepage'}"/>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<f:translate key="template.organizer.add.legend-access"/>
					</legend>
					<div class="form-group form-row{f:if(condition: errors.username,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label col-sm-3" for="username">
							<f:translate key="template.organizer.label-username"/>
							*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon input-group-prepend"><span class="input-group-text"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span></span>
								<f:form.textfield id="username" name="organizer[username]" value="{organizer.username}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-username')}"/>
							</div>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.username'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.password,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label col-sm-3" for="password">
							<f:format.raw>
								<f:translate key="template.organizer.label-password"/>
							</f:format.raw>
							*</label>
						<div class="col-sm-9">
							<div class="input-group">
							<span class="input-group-btn">
								<f:form.button class="btn btn-default btn-secondary" type="button" title="{f:translate(key:'template.organizer.add.title-password-visible')}" onclick="if(password.type=='text'){password.type='password';passwordConfirm.type='password';} else {password.type='text';passwordConfirm.type='text';}">
									<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
								</f:form.button>
							</span>
								<f:form.textfield data="{size: '8',character-set:'a-z,A-Z,0-9,#',rel:'gp'}" type="password" id="password" name="organizer[password]" value="{organizer.password}" class="form-control" placeholder="{f:translate(key:'template.organizer.showregistration.placeholder-access-password')}"/>
								<span class="input-group-btn"><button type="button" class="btn btn-default btn-secondary getNewPass" title="{f:translate(key:'template.organizer.add.title-password-refresh')}"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></button></span>
							</div>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.password'}"/>
						</div>
					</div>
					<div class="form-group form-row{f:if(condition: errors.passwordConfirm,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label class="control-label col-form-label col-sm-3" for="passwordConfirm">
							<f:translate key="template.organizer.label-passwordconfirm"/>
							*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon input-group-prepend"><span class="input-group-text"><i class="glyphicon glyphicon-repeat" aria-hidden="true"></i></span></span>
								<f:form.textfield type="password" data="{rel:'gpc'}" id="passwordConfirm" name="organizer[passwordConfirm]" value="{organizer.passwordConfirm}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-passwordConfirm')}"/>
							</div>
							<f:render partial="FormErrorSingle" arguments="{field : 'organizer.passwordConfirm'}"/>
						</div>
					</div>
					<div class="checkbox{f:if(condition: errors.disclaimer,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label>
							<f:form.checkbox id="disclaimer" name="organizer[disclaimer]" checked="{organizer.disclaimer}" value="1" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid"/>
							<f:format.raw>
								<f:translate key="template.organizer.label-disclaimer" arguments="{0:'{f:translate(key:\'template.organizer.label-disclaimer-linkname\') -> f:link.external(uri:\'{settings.disclaimerUrl}\',data:{toggle:\'modal\',target:\'#organizerModal\'},target: \'_blank\')}'}"/>
							</f:format.raw>
							*
						</label>
					</div>
					<div class="checkbox{f:if(condition: errors.privacy,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
						<label>
							<f:form.checkbox id="privacy" name="organizer[privacy]" checked="{organizer.privacy}" value="1" errorClass="tx-nwsmunicipalstatutes-form-error has-error is-invalid"/>
							<f:format.raw>
								<f:translate key="template.organizer.label-privacy" arguments="{0:'{f:translate(key:\'template.organizer.label-privacy-linkname\') -> f:link.external(uri:\'{settings.privacyUrl}\',data:{toggle:\'modal\',target:\'#organizerModal\'},target: \'_blank\')}'}"/>
							</f:format.raw>
							*
						</label>
					</div>
				</fieldset>
				<hr/>
				<div class="form-group clearfix">
					<div class="pull-right float-right">&nbsp;<f:form.submit name="confirm" value="{f:translate(key:'template.organizer.add.button-next')}" class="btn btn-primary"/>
					</div>
					<div class="pull-right float-right">
						<f:form.submit additionalAttributes="{formnovalidate: 'formnovalidate',formaction: '{f:uri.action(controller: \'Organizer\', action: \'break\')}'}" name="break" class="btn btn-default btn-secondary" value="{f:translate(key:'template.organizer.button-break')}"/>
					</div>
				</div>
			</f:form>
			<div class="modal fade" id="organizerModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-wide" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">
								<f:translate key="template.organizer.modal-headline"/>
							</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="{f:translate(key:'template.organizer.modal-button-close')}">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">
								<f:translate key="template.organizer.modal-button-close-view"/>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>