{namespace nws=Nwsnet\NwsMunicipalStatutes\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<div class="row">
		<div id="tx-nwsmunicipalstatutes-organizer-break" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<f:if condition="{isSend}">
				<f:then>
					<f:if condition="{isPassword}">
						<f:then>
							<h2>
								<f:translate key="template.break.password.headline"/>
							</h2>
							<f:format.raw>
								<f:translate key="template.break.password.content-succsess"/>
							</f:format.raw>
						</f:then>
						<f:else>
							<h2>
								<f:translate key="template.break.registration.headline"/>
							</h2>
							<f:format.raw>
								<f:translate key="template.break.registration.content-succsess"/>
							</f:format.raw>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{isPassword}">
						<f:then>
							<h2>
								<f:translate key="template.break.password.headline"/>
							</h2>
							<f:format.raw>
								<f:translate key="template.break.password.content"/>
							</f:format.raw>
						</f:then>
						<f:else>
							<h2>
								<f:translate key="template.break.registration.headline"/>
							</h2>
							<f:format.raw>
								<f:translate key="template.break.registration.content"/>
							</f:format.raw>
						</f:else>
					</f:if>
					<f:form class="tx-nwsmunicipalstatutes-organizer-form" name="organizer" action="break" method="POST">
						<div class="form-group">
							<label class="control-label col-form-label" for="reason">
								<f:translate key="template.break.label-reason"/>
							</label>
							<nws:select prependOptionLabel="{f:translate(key:'template.break.item')}" prependOptionValue="{f:translate(key:'template.break.item.value')}" class="form-control" id="reason" name="reason" options="{reasons}"/>
						</div>
						<div class="form-group">
							<f:form.submit name="sendBreak" value="{f:translate(key:'template.break.button-send')}" class="btn btn-primary"/>&nbsp;
						</div>
					</f:form>
				</f:else>
			</f:if>
			<hr/>
			<p>
				<f:if condition="{settings.showListViewPid}">
					<f:then>
						<f:link.action pageUid="{settings.showListViewPid}" controller="Events" action="list" class="btn btn-default btn-secondary">
							{f:translate(key:'template.break.button-events')}
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action controller="Events" action="list" class="button btn btn-default btn-secondary">
							{f:translate(key:'template.break.button-events')}
						</f:link.action>
					</f:else>
				</f:if>
			</p>
		</div>
	</div>
</f:section>