<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<div class="row">
		<div id="tx-nwsmunicipalstatutes-organizer-confirm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<f:if condition="{similarOrganizers}">
				<h3>
					<f:translate key="template.organizer.confirm.headline-similar-organizers"/>
				</h3>
				<div id="tx-nwsmunicipalstatutes-ident" class="clearfix">
					<f:for each="{similarOrganizers}" as="organizers" iteration="iterator">
						<div class="pull-left float-left alert alert-info">
							<strong>{organizers.title}</strong><br/>
							<f:if condition="{organizers.street}">
								{organizers.street}<br/>
							</f:if>
							<f:if condition="{organizers.city}">
								{organizers.zip} {organizers.city}<br/>
							</f:if>
							<f:if condition="{organizers.telephone}">
								Tel: {organizers.telephone}<br/>
							</f:if>
						</div>
					</f:for>
				</div>
				<div class="pb-3">
					<f:format.raw>
						<f:translate key="template.organizer.confirm.note-similar-organizers"/>
					</f:format.raw>
					<br/>
					<f:if condition="{settings.showPasswordViewPid}">
						<f:then>
							<f:link.action pageUid="{settings.showPasswordViewPid}" controller="Organizer" action="password" class="btn btn-primary">
								{f:translate(key:'template.organizer.showregistration.button-password')}
							</f:link.action>
						</f:then>
						<f:else>
							<f:link.action controller="Organizer" action="password" class="btn btn-primary">
								{f:translate(key:'template.organizer.confirm.button-password')}
							</f:link.action>
						</f:else>
					</f:if>
				</div>
			</f:if>
			<h3>
				<f:translate key="template.organizer.confirm.headline-organizer"/>
			</h3>
			<p>
				<f:translate key="template.organizer.confirm.question-organizer"/>
			</p>
			<f:form class="tx-nwsmunicipalstatutes-organizer-form" action="confirm" method="POST">
				<dl class="row">
					<f:if condition="{organizer.organizer}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-organizer"/>
						</dt>
						<dd class="col-sm-9">{organizer.organizer}</dd>
					</f:if>
					<f:if condition="{organizer.contactPerson}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-contactperson"/>
						</dt>
						<dd class="col-sm-9">{organizer.contactPerson}</dd>
					</f:if>
					<f:if condition="{organizer.street}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-street"/>
						</dt>
						<dd class="col-sm-9">{organizer.street}</dd>
					</f:if>
					<f:if condition="{organizer.zip}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-zip"/>
						</dt>
						<dd class="col-sm-9">{organizer.zip}</dd>
					</f:if>
					<f:if condition="{organizer.city}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-city"/>
						</dt>
						<dd class="col-sm-9">{organizer.city}</dd>
					</f:if>
					<f:if condition="{organizer.telephone}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-telephone"/>
						</dt>
						<dd class="col-sm-9">{organizer.telephone}</dd>
					</f:if>
					<f:if condition="{organizer.fax}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-fax"/>
						</dt>
						<dd class="col-sm-9">{organizer.fax}</dd>
					</f:if>
					<f:if condition="{organizer.email}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-email"/>
						</dt>
						<dd class="col-sm-9">{organizer.email}</dd>
					</f:if>
					<f:if condition="{organizer.homepage}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-homepage"/>
						</dt>
						<dd class="col-sm-9">{organizer.homepage}</dd>
					</f:if>
					<f:if condition="{organizer.username}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-username-alone"/>
						</dt>
						<dd class="col-sm-9">{organizer.username}</dd>
					</f:if>
					<f:if condition="{organizer.password}">
						<dt class="text-sm-right col-sm-3">
							<f:translate key="template.organizer.label-password-alone"/>
						</dt>
						<dd class="col-sm-9">{organizer.password}</dd>
					</f:if>
				</dl>
				<hr/>
				<div class="form-group clearfix">
					<div class="pull-right float-right">&nbsp;<f:form.submit name="save" value="{f:translate(key:'template.organizer.confirm.button-save')}" class="btn btn-primary"/>
					</div>
					<div class="pull-right float-right">&nbsp;<f:form.submit name="back" value="{f:translate(key:'template.organizer.button-back')}" class="btn btn-default btn-secondary"/>
					</div>
					<div class="pull-right float-right">
						<f:form.submit name="break" value="{f:translate(key:'template.organizer.button-break')}" class="btn btn-default btn-secondary"/>
					</div>
				</div>
			</f:form>
		</div>
	</div>
</f:section>