<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<div class="row">
		<div id="tx-nwsmunicipalstatutes-organizer-password" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<f:if condition="{isSend}">
				<f:then>
					<h2>
						<f:translate key="template.organizer.password.headline-send"/>
					</h2>
					<f:format.raw>
						<f:translate key="template.organizer.password.content-send"/>
					</f:format.raw>
					<hr/>
					<f:format.raw>
						<f:translate key="template.organizer.password.note"/>
					</f:format.raw>
					<p>
						<strong>{f:translate(key:'template.organizer.label-email')}:</strong> {f:link.email(email:
						'info@termine-regional.de')}
					</p>
					<hr/>
					<p>
						<f:if condition="{settings.showListViewPid}">
							<f:then>
								<f:link.action pageUid="{settings.showListViewPid}" controller="Events" action="list" class="btn btn-default btn-secondary">
									{f:translate(key:'template.break.button-events')}
								</f:link.action>
							</f:then>
							<f:else>
								<f:link.action controller="Events" action="list" class="button btn btn-default btn-secondary">
									{f:translate(key:'template.break.button-events')}
								</f:link.action>
							</f:else>
						</f:if>
					</p>
				</f:then>
				<f:else>
					<h2>
						<f:translate key="template.organizer.password.headline"/>
					</h2>
					<f:format.raw>
						<f:translate key="template.organizer.password.content"/>
					</f:format.raw>
					<f:render partial="FormErrors" arguments="{form: 'username',errors: '{errors}'}"/>
					<p>
						<f:format.raw>
							<f:translate key="template.organizer.text-mandatory-information"/>
						</f:format.raw>
					</p>
					<f:form class="tx-nwsmunicipalstatutes-organizer-form" object="{username}" name="username" action="password" method="POST">
						<div class="form-group{f:if(condition: errors.useremail,then:' tx-nwsmunicipalstatutes-error has-error',else:'')}">
							<label class="control-label col-form-label" for="useremail">
								<f:translate key="template.organizer.label-useremail"/>
								*</label>
							<f:form.textfield id="useremail" name="username[useremail]" value="{username.useremail}" class="form-control" errorClass="tx-nwsmunicipalstatutes-form-error" required="TRUE" placeholder="{f:translate(key:'template.organizer.placeholder-useremail')}"/>
							<f:render partial="FormErrorSingle" arguments="{field : 'username.useremail'}"/>
						</div>
						<div class="form-group clearfix">
							<div class="pull-right float-right">&nbsp;<f:form.submit name="sendPassword" value="{f:translate(key:'template.organizer.password.button-send')}" class="btn btn-primary"/>
							</div>
							<div class="pull-right float-right">
								<f:form.submit additionalAttributes="{formnovalidate: 'formnovalidate',formaction: '{f:uri.action(controller: \'Organizer\', action: \'break\')}'}" name="break" class="btn btn-default btn-secondary" value="{f:translate(key:'template.organizer.button-break')}"/>
							</div>
						</div>
					</f:form>
					<f:format.raw>
						<f:translate key="template.organizer.password.note"/>
					</f:format.raw>
					<p>
						<strong>{f:translate(key:'template.organizer.label-email')}:</strong>
						{f:link.email(email:'info@termine-regional.de')}
					</p>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>