<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<f:if condition="{errors}">
		<f:then>
			<div class="alert alert-danger">
				<f:for each="{errors}" as="error">
					<div class="tx-nwsmunicipalstatutes-error">
						<f:format.raw><f:translate key="template.global.error.{error.code}" arguments="{error.arguments}"/></f:format.raw>
					</div>
				</f:for>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-success">
				<f:format.raw><f:translate key="template.organizer.register.succsess"/></f:format.raw>
			</div>
		</f:else>
	</f:if>
	<hr>
	<div class="error-register">
		<!-- error will be shown here ! -->
	</div>
	<f:form data="{uri:'{f:uri.action(controller: \'Organizer\', action:\'login\',pageType:\'7880\')}'}" id="login-form-register" actionUri="{settings.registrationUrl}" method="post">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon input-group-prepend"><span class="input-group-text"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span></span>
				<f:form.textfield type="text" name="USR" class="form-control" placeholder="{f:translate(key:'template.organizer.showregistration.placeholder-access-username')}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon input-group-prepend"><span class="input-group-text"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span></span>
				<f:form.textfield type="password" id="password" name="PWD" class="form-control" placeholder="{f:translate(key:'template.organizer.showregistration.placeholder-access-password')}"/>
				<span class="input-group-btn">
						<f:form.button
								class="btn btn-default btn-secondary"
								type="button"
								title="{f:translate(key:'template.organizer.showregistration.title-access-password-visible')}"
								onclick="if(password.type=='text')password.type='password'; else password.type='text';">
							<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
						</f:form.button>
					</span>
			</div>
		</div>
		<div class="form-group">
			<f:form.button data="{login:'{f:translate(key:\'template.organizer.showregistration.button-access-login\')}',send: '{f:translate(key:\'template.organizer.showregistration.button-access-send\')}'}" type="submit" class="btn btn-primary" id="btn-login-register" name="btn-login-register">
				<i class="glyphicon glyphicon-log-in"></i>&nbsp;<f:translate key="template.organizer.showregistration.button-access-login"/>
			</f:form.button>
		</div>
	</f:form>
	<hr/>
	<p>
		<f:if condition="{settings.showListViewPid}">
			<f:then>
				<f:link.action pageUid="{settings.showListViewPid}" controller="Events" action="list" class="btn btn-default btn-secondary">
					{f:translate(key:'template.organizer.save.button-events')}
				</f:link.action>
			</f:then>
			<f:else>
				<f:link.action controller="Events" action="list" class="button btn btn-default btn-secondary">
					{f:translate(key:'template.organizer.save.button-events')}
				</f:link.action>
			</f:else>
		</f:if>
	</p>
</f:section>