<f:layout name="Default"/>
<f:section name="main">
	<f:flashMessages/>
	<div class="row">
		<div id="tx-nwsmunicipalstatutes-organizer-registration" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>
				<f:translate key="template.organizer.showregistration.headline-enter-event"/>
			</h3>
			<p>
				<f:translate key="template.organizer.showregistration.note-enter-event"/>
			</p>
			<p>
				<f:if condition="{settings.showOrganizerViewPid}">
					<f:then>
						<f:link.action pageUid="{settings.showOrganizerViewPid}" controller="Organizer" action="registration" class="btn btn-primary">
							{f:translate(key:'template.organizer.showregistration.button-enter-event')}
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action controller="Organizer" action="registration" class="btn btn-primary">
							{f:translate(key:'template.organizer.showregistration.button-enter-event')}
						</f:link.action>
					</f:else>
				</f:if>
			</p>
			<h3>
				<f:translate key="template.organizer.showregistration.headline-access"/>
			</h3>
			<div class="error-registration">
				<!-- error will be shown here !-->
			</div>
			<f:form data="{uri:'{f:uri.action(controller: \'Organizer\', action:\'login\',pageType:\'7880\')}'}" id="login-form" actionUri="{settings.registrationUrl}" method="post">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-group-prepend" id="basic-addon-user"><span class="input-group-text"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span></span>
						<f:form.textfield type="text" id="USR" name="USR" class="form-control" placeholder="{f:translate(key:'template.organizer.showregistration.placeholder-access-username')}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-group-prepend"><span class="input-group-text"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span></span>
						<f:form.textfield type="password" id="PWD" name="PWD" class="form-control" placeholder="{f:translate(key:'template.organizer.showregistration.placeholder-access-password')}"/>
						<span class="input-group-btn">
						<f:form.button
								class="btn btn-default btn-secondary"
								type="button"
								title="{f:translate(key:'template.organizer.showregistration.title-access-password-visible')}"
								onclick="if(PWD.type=='text')PWD.type='password'; else PWD.type='text';">
							<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
						</f:form.button>
					</span>
					</div>
				</div>
				<div class="form-group">
					<f:form.button data="{login:'{f:translate(key:\'template.organizer.showregistration.button-access-login\')}',send: '{f:translate(key:\'template.organizer.showregistration.button-access-send\')}'}" type="submit" class="btn btn-primary" id="btn-login" name="btn-login">
						<i class="glyphicon glyphicon-log-in"></i>&nbsp;<f:translate key="template.organizer.showregistration.button-access-login"/>
					</f:form.button>
				</div>
			</f:form>
			<f:if condition="{settings.showPasswordViewPid}">
				<f:then>
					<f:link.action pageUid="{settings.showPasswordViewPid}" controller="Organizer" action="password" class="btn btn-primary">
						{f:translate(key:'template.organizer.showregistration.button-password')}
					</f:link.action>
				</f:then>
				<f:else>
					<f:link.action controller="Organizer" action="password" class="btn btn-primary">
						{f:translate(key:'template.organizer.showregistration.button-password')}
					</f:link.action>
				</f:else>
			</f:if>
			<hr/>
		</div>
	</div>
</f:section>