<f:comment>Calendar display for 28 or 35 or 42 days</f:comment>
<table summary="{f:translate(key:'template.partials.calendar.table-summary')}">
	<thead>
	<tr>
		<th colspan="7">
			<f:format.date format="%B %Y">{calendarDate}</f:format.date>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.mondayShort')}</th>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.tuesdayShort')}</th>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.wednesdayShort')}</th>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.thursdayShort')}</th>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.fridayShort')}</th>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.saturdayShort')}</th>
		<th class="tx-nwsmunicipalstatutes-day-week">{f:translate(key:'template.partials.calendar.sundayShort')}</th>
	</tr>
	<tr>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.0.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.0.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.0.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.0.arguments}" title="{f:format.date(date: '{calendar.0.arguments.day}.{calendar.0.arguments.month}.{calendar.0.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.0.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.0.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.1.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.1.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.1.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.1.arguments}" title="{f:format.date(date: '{calendar.1.arguments.day}.{calendar.1.arguments.month}.{calendar.1.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.1.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.1.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.2.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.2.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.2.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.2.arguments}" title="{f:format.date(date: '{calendar.2.arguments.day}.{calendar.2.arguments.month}.{calendar.2.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.2.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.2.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.3.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.3.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.3.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.3.arguments}" title="{f:format.date(date: '{calendar.3.arguments.day}.{calendar.3.arguments.month}.{calendar.3.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.3.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.3.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.4.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.4.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.4.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.4.arguments}" title="{f:format.date(date: '{calendar.4.arguments.day}.{calendar.4.arguments.month}.{calendar.4.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.4.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.4.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.5.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.5.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.5.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.5.arguments}" title="{f:format.date(date: '{calendar.5.arguments.day}.{calendar.5.arguments.month}.{calendar.5.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.5.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.5.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-sunday {f:if(condition: '{calendar.6.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.6.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.6.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.6.arguments}" title="{f:format.date(date: '{calendar.6.arguments.day}.{calendar.6.arguments.month}.{calendar.6.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.6.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.6.value}</span></f:else>
			</f:if>
		</td>
	</tr>
	<tr>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.7.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.7.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.7.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.7.arguments}" title="{f:format.date(date: '{calendar.7.arguments.day}.{calendar.7.arguments.month}.{calendar.7.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.7.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.7.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.8.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.8.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.8.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.8.arguments}" title="{f:format.date(date: '{calendar.8.arguments.day}.{calendar.8.arguments.month}.{calendar.8.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.8.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.8.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.9.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.9.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.9.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.9.arguments}" title="{f:format.date(date: '{calendar.9.arguments.day}.{calendar.9.arguments.month}.{calendar.9.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.9.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.9.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.10.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.10.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.10.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.10.arguments}" title="{f:format.date(date: '{calendar.10.arguments.day}.{calendar.10.arguments.month}.{calendar.10.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.10.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.10.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.11.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.11.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.11.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.11.arguments}" title="{f:format.date(date: '{calendar.11.arguments.day}.{calendar.11.arguments.month}.{calendar.11.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.11.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.11.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.12.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.12.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.12.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.12.arguments}" title="{f:format.date(date: '{calendar.12.arguments.day}.{calendar.12.arguments.month}.{calendar.12.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.12.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.12.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-sunday {f:if(condition: '{calendar.13.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.13.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.13.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.13.arguments}" title="{f:format.date(date: '{calendar.13.arguments.day}.{calendar.13.arguments.month}.{calendar.13.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.13.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.13.value}</span></f:else>
			</f:if>
		</td>
	</tr>
	<tr>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.14.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.14.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.14.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.14.arguments}" title="{f:format.date(date: '{calendar.14.arguments.day}.{calendar.14.arguments.month}.{calendar.14.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.14.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.14.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.15.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.15.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.15.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.15.arguments}" title="{f:format.date(date: '{calendar.15.arguments.day}.{calendar.15.arguments.month}.{calendar.15.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.15.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.15.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.16.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.16.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.16.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.16.arguments}" title="{f:format.date(date: '{calendar.16.arguments.day}.{calendar.16.arguments.month}.{calendar.16.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.16.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.16.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.17.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.17.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.17.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.17.arguments}" title="{f:format.date(date: '{calendar.17.arguments.day}.{calendar.17.arguments.month}.{calendar.17.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.17.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.17.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.18.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.18.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.18.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.18.arguments}" title="{f:format.date(date: '{calendar.18.arguments.day}.{calendar.18.arguments.month}.{calendar.18.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.18.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.18.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.19.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.19.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.19.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.19.arguments}" title="{f:format.date(date: '{calendar.19.arguments.day}.{calendar.19.arguments.month}.{calendar.19.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.19.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.19.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-sunday {f:if(condition: '{calendar.20.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.20.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.20.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.20.arguments}" title="{f:format.date(date: '{calendar.20.arguments.day}.{calendar.20.arguments.month}.{calendar.20.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.20.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.20.value}</span></f:else>
			</f:if>
		</td>
	</tr>
	<tr>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.21.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.21.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.21.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.21.arguments}" title="{f:format.date(date: '{calendar.21.arguments.day}.{calendar.21.arguments.month}.{calendar.21.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.21.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.21.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.22.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.22.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.22.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.22.arguments}" title="{f:format.date(date: '{calendar.22.arguments.day}.{calendar.22.arguments.month}.{calendar.22.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.22.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.22.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.23.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.23.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.23.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.23.arguments}" title="{f:format.date(date: '{calendar.23.arguments.day}.{calendar.23.arguments.month}.{calendar.23.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.23.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.23.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.24.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.24.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.24.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.24.arguments}" title="{f:format.date(date: '{calendar.24.arguments.day}.{calendar.24.arguments.month}.{calendar.24.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.24.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.24.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.25.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.25.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.25.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.25.arguments}" title="{f:format.date(date: '{calendar.25.arguments.day}.{calendar.25.arguments.month}.{calendar.25.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.25.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.25.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.26.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.26.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.26.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.26.arguments}" title="{f:format.date(date: '{calendar.26.arguments.day}.{calendar.26.arguments.month}.{calendar.26.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.26.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.26.value}</span></f:else>
			</f:if>
		</td>
		<td class="tx-nwsmunicipalstatutes-sunday {f:if(condition: '{calendar.27.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.27.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
			<f:if condition="{calendar.27.isEvents}">
				<f:then>
					<f:link.action action="list" arguments="{searchday : calendar.27.arguments}" title="{f:format.date(date: '{calendar.27.arguments.day}.{calendar.27.arguments.month}.{calendar.27.arguments.year}' format: '%A, %d.%m.%Y')}">
						{calendar.27.value}
					</f:link.action>
				</f:then>
				<f:else><span>{calendar.27.value}</span></f:else>
			</f:if>
		</td>
	</tr>
	<f:if condition="{numberOfdays} >= 35">
		<tr>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.28.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.28.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.28.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.28.arguments}" title="{f:format.date(date: '{calendar.28.arguments.day}.{calendar.28.arguments.month}.{calendar.28.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.28.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.28.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.29.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.29.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.29.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.29.arguments}" title="{f:format.date(date: '{calendar.29.arguments.day}.{calendar.29.arguments.month}.{calendar.29.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.29.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.29.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.30.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.30.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.30.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.30.arguments}" title="{f:format.date(date: '{calendar.30.arguments.day}.{calendar.30.arguments.month}.{calendar.30.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.30.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.30.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.31.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.31.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.31.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.31.arguments}" title="{f:format.date(date: '{calendar.31.arguments.day}.{calendar.31.arguments.month}.{calendar.31.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.31.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.31.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.32.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.32.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.32.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.32.arguments}" title="{f:format.date(date: '{calendar.32.arguments.day}.{calendar.32.arguments.month}.{calendar.32.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.32.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.32.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.33.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.33.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.33.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.33.arguments}" title="{f:format.date(date: '{calendar.33.arguments.day}.{calendar.33.arguments.month}.{calendar.33.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.33.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.33.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-sunday {f:if(condition: '{calendar.34.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.34.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.34.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.34.arguments}" title="{f:format.date(date: '{calendar.34.arguments.day}.{calendar.34.arguments.month}.{calendar.34.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.34.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.34.value}</span></f:else>
				</f:if>
			</td>
		</tr>
	</f:if>
	<f:if condition="{numberOfdays} == 42">
		<tr>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.35.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.35.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.35.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.35.arguments}" title="{f:format.date(date: '{calendar.35.arguments.day}.{calendar.35.arguments.month}.{calendar.35.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.35.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.35.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.36.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.36.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.36.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.36.arguments}" title="{f:format.date(date: '{calendar.36.arguments.day}.{calendar.36.arguments.month}.{calendar.36.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.36.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.36.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.37.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.37.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.37.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.37.arguments}" title="{f:format.date(date: '{calendar.37.arguments.day}.{calendar.37.arguments.month}.{calendar.37.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.37.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.37.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.38.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.38.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.38.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.38.arguments}" title="{f:format.date(date: '{calendar.38.arguments.day}.{calendar.38.arguments.month}.{calendar.38.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.38.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.38.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.39.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.39.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.39.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.39.arguments}" title="{f:format.date(date: '{calendar.39.arguments.day}.{calendar.39.arguments.month}.{calendar.39.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.39.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.39.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-day {f:if(condition: '{calendar.40.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.40.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.40.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.40.arguments}" title="{f:format.date(date: '{calendar.40.arguments.day}.{calendar.40.arguments.month}.{calendar.40.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.40.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.40.value}</span></f:else>
				</f:if>
			</td>
			<td class="tx-nwsmunicipalstatutes-sunday {f:if(condition: '{calendar.41.currentDay}', then: 'tx-nwsmunicipalstatutes-current-day')} {f:if(condition: '{calendar.41.searchDay}', then: 'tx-nwsmunicipalstatutes-search-day')}">
				<f:if condition="{calendar.41.isEvents}">
					<f:then>
						<f:link.action action="list" arguments="{searchday : calendar.41.arguments}" title="{f:format.date(date: '{calendar.41.arguments.day}.{calendar.41.arguments.month}.{calendar.41.arguments.year}' format: '%A, %d.%m.%Y')}">
							{calendar.41.value}
						</f:link.action>
					</f:then>
					<f:else><span>{calendar.41.value}</span></f:else>
				</f:if>
			</td>
		</tr>
	</f:if>
	</tbody>
</table>

