<f:if condition="{0:id}=={0:'01'}">
	<f:image src="{settings.image01}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'02'}">
	<f:image src="{settings.image02}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'03'}">
	<f:image src="{settings.image03}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'04'}">
	<f:image src="{settings.image04}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'05'}">
	<f:image src="{settings.image05}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'06'}">
	<f:image src="{settings.image06}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'07'}">
	<f:image src="{settings.image07}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'08'}">
	<f:image src="{settings.image08}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'09'}">
	<f:image src="{settings.image09}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'10'}">
	<f:image src="{settings.image10}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'11'}">
	<f:image src="{settings.image11}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'12'}">
	<f:image src="{settings.image12}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'13'}">
	<f:image src="{settings.image13}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'14'}">
	<f:image src="{settings.image14}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'15'}">
	<f:image src="{settings.image15}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'16'}">
	<f:image src="{settings.image16}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'17'}">
	<f:image src="{settings.image17}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>
<f:if condition="{0:id}=={0:'18'}">
	<f:image src="{settings.image18}" alt="{f:translate(key:'template.events.category-image.{id}')}"/>
</f:if>